html{
  text-align: center;
  overflow: hidden;
  font-family: Helvetica;
  font-style: italic;
}
#video_presentation{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container{
  background-color: rgba(255, 255, 255, .5);
  margin-top: 20%;

}

#logo{
  width: 25%;
  height: 25%;
  margin: 25px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 110px;

}

.social{
  text-align: right;
}

.footer h2{
  text-align: left;
  margin-left: 5%;
  font-size: 60px;
  color: white;
}

#social-img{
  width: 5%;
  margin-right: 5px;;
}

.social-block{
  text-align: right;
  margin-right: 5%;
  padding-top: 30px;
}
